n8n_workflows/03_core_task_scheduler.workflow.json
{
  "name": "Veloce - Core Task Scheduler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "veloce-task-scheduler",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "419bca94-dcad-43a3-97be-4b91cf457f69",
      "name": "Webhook Core Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -6048,
        64
      ],
      "webhookId": "5330a75d-2880-42f7-b0f3-90c6330f758f"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\n\nconst rawText = String(body.message ?? body.raw_text ?? '').trim();\nif (!rawText) {\n  throw new Error('Missing message/raw_text in webhook payload');\n}\n\nconst chatId = body.chat_id == null || body.chat_id === '' ? null : Number(body.chat_id);\nif (chatId !== null && !Number.isFinite(chatId)) {\n  throw new Error('chat_id must be numeric when provided');\n}\n\nreturn [{\n  json: {\n    source: String(body.source ?? 'telegram_userbot'),\n    message_id: body.message_id == null ? null : Number(body.message_id),\n    sender_id: body.sender_id == null ? null : Number(body.sender_id),\n    chat_id: chatId,\n    chat_title: body.chat_title ?? null,\n    inbound_date: body.date ?? new Date().toISOString(),\n    timezone: $env.GENERIC_TIMEZONE || 'Asia/Kuala_Lumpur',\n    raw_text: rawText\n  }\n}];"
      },
      "id": "d9d7c8c3-2d02-4544-9d0e-caacdd7d51ee",
      "name": "Normalize Inbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5808,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\nconst now = new Date().toISOString();\n\nconst systemPrompt = [\n  'You are Veloce extraction engine.',\n  'Return ONLY valid JSON with this exact shape:',\n  '{\"tasks\":[{\"task_name\":\"string\",\"deadline_iso\":\"ISO-8601 string\",\"estimated_duration_minutes\":90,\"confidence\":0.0,\"needs_clarification\":false,\"clarification_question\":null}]}',\n  'Rules:',\n  '1) Extract academic/professional tasks and deadlines.',\n  '2) If no actionable task, return {\"tasks\":[]}.',\n  '3) deadline_iso must be timezone-aware ISO-8601.',\n  '4) estimated_duration_minutes must be integer >= 15.',\n  '5) If uncertain, still output best estimate and set needs_clarification=true.'\n].join('\\n');\n\nconst userPrompt = [\n  `Current time: ${now}`,\n  `Timezone: ${payload.timezone}`,\n  'Input text:',\n  payload.raw_text\n].join('\\n');\n\nconst agentPrompt = [\n  systemPrompt,\n  '',\n  userPrompt\n].join('\\n');\n\nreturn [{\n  json: {\n    ...payload,\n    glm_request: {\n      model: $env.ZAI_MODEL || 'glm-4.5',\n      temperature: 0.1,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    },\n    agent_prompt: agentPrompt\n  }\n}];"
      },
      "id": "8d202c92-5207-4e67-9414-a25952141592",
      "name": "Build GLM Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5552,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('Normalize Inbound').item.json;\nconst modelResponse = $json;\n\nlet content =\n  modelResponse?.output ??\n  modelResponse?.text ??\n  modelResponse?.response?.text ??\n  modelResponse?.response ??\n  modelResponse?.data?.output ??\n  modelResponse?.choices?.[0]?.message?.content;\n\nlet parsed;\n\nif (content != null && typeof content === 'object' && !Array.isArray(content)) {\n  parsed = content;\n} else {\n  if (Array.isArray(content)) {\n    content = content\n      .map((part) => (typeof part === 'string' ? part : JSON.stringify(part)))\n      .join('\\n');\n  }\n\n  if (content == null) {\n    throw new Error('AI Agent response missing output/text/response content');\n  }\n\n  if (typeof content !== 'string') {\n    content = JSON.stringify(content);\n  }\n\n  const cleaned = content\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```/i, '')\n    .replace(/```$/, '')\n    .trim();\n\n  try {\n    parsed = JSON.parse(cleaned);\n  } catch (err) {\n    const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!jsonMatch) {\n      throw new Error(`AI Agent output is not valid JSON: ${cleaned}`);\n    }\n    parsed = JSON.parse(jsonMatch[0]);\n  }\n}\n\nconst rawTasks = Array.isArray(parsed?.tasks) ? parsed.tasks : [];\nconst tasks = rawTasks\n  .map((t) => ({\n    task_name: String(t.task_name ?? '').trim(),\n    deadline_iso: String(t.deadline_iso ?? '').trim(),\n    estimated_duration_minutes: Math.max(15, Math.floor(Number(t.estimated_duration_minutes ?? 90) || 90)),\n    confidence: Number(t.confidence ?? 0.5),\n    needs_clarification: Boolean(t.needs_clarification),\n    clarification_question: t.clarification_question ?? null\n  }))\n  .filter((t) => t.task_name && t.deadline_iso);\n\nconst selectedTask = tasks.length ? tasks.sort((a, b) => Date.parse(a.deadline_iso) - Date.parse(b.deadline_iso))[0] : null;\n\nreturn [{\n  json: {\n    ...source,\n    glm_raw: parsed,\n    extracted_tasks: tasks,\n    selected_task: selectedTask\n  }\n}];"
      },
      "id": "43d184f0-ff18-4426-b83d-e03cde23c824",
      "name": "Parse GLM Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5024,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-task",
              "leftValue": "={{$json.selected_task && $json.selected_task.task_name ? $json.selected_task.task_name : ''}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3a997fd3-d8ba-40f4-9a70-5c06eae31f29",
      "name": "Has Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4768,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, scheduled: false, reason: 'No actionable task extracted', glm_raw: $json.glm_raw } }}",
        "options": {}
      },
      "id": "531c7d67-b23c-4a65-8bc1-dd9053c15cd1",
      "name": "Respond No Task",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -4528,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const task = $json.selected_task;\nif (!task) throw new Error('selected_task missing');\n\nconst timeMin = new Date();\nconst timeMax = new Date(task.deadline_iso);\nif (Number.isNaN(timeMax.getTime())) {\n  throw new Error(`Invalid deadline_iso: ${task.deadline_iso}`);\n}\nif (timeMax <= timeMin) {\n  throw new Error('deadline_iso is in the past; cannot schedule automatically');\n}\n\nreturn [{\n  json: {\n    ...$json,\n    calendar_time_min: timeMin.toISOString(),\n    calendar_time_max: timeMax.toISOString()\n  }\n}];"
      },
      "id": "2520aee2-7765-437a-9e54-8d87c329b16b",
      "name": "Prepare Calendar Window",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4528,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "const prior = $('Prepare Calendar Window').item.json;\nconst response = $json;\n\nconst eventCandidates = Array.isArray(response.items)\n  ? response.items\n  : Array.isArray(response.events)\n    ? response.events\n    : Array.isArray(response.data?.items)\n      ? response.data.items\n      : [];\n\nconst busyCandidates = Array.isArray(response.busy)\n  ? response.busy\n  : Array.isArray(response.calendars?.primary?.busy)\n    ? response.calendars.primary.busy\n    : [];\n\nconst durationMs = Number(prior.selected_task.estimated_duration_minutes) * 60000;\nconst deadline = new Date(prior.calendar_time_max);\nlet cursor = new Date(prior.calendar_time_min);\n\nconst busyFromEvents = eventCandidates\n  .map((e) => {\n    const startRaw = e?.start?.dateTime || e?.start || (e?.start?.date ? `${e.start.date}T00:00:00` : null);\n    const endRaw = e?.end?.dateTime || e?.end || (e?.end?.date ? `${e.end.date}T00:00:00` : null);\n    const start = startRaw ? new Date(startRaw) : null;\n    const end = endRaw ? new Date(endRaw) : null;\n    if (!start || !end || Number.isNaN(start.getTime()) || Number.isNaN(end.getTime())) return null;\n    return { start, end, summary: e.summary ?? 'Busy' };\n  })\n  .filter(Boolean);\n\nconst busyFromBusySlots = busyCandidates\n  .map((slot) => {\n    const startRaw = slot?.start ?? null;\n    const endRaw = slot?.end ?? null;\n    const start = startRaw ? new Date(startRaw) : null;\n    const end = endRaw ? new Date(endRaw) : null;\n    if (!start || !end || Number.isNaN(start.getTime()) || Number.isNaN(end.getTime())) return null;\n    return { start, end, summary: 'Busy' };\n  })\n  .filter(Boolean);\n\nconst busy = [...busyFromEvents, ...busyFromBusySlots]\n  .sort((a, b) => a.start.getTime() - b.start.getTime());\n\nlet chosenStart = null;\nlet chosenEnd = null;\n\nfor (const slot of busy) {\n  if (slot.end <= cursor) continue;\n  if (slot.start > cursor && (slot.start.getTime() - cursor.getTime()) >= durationMs) {\n    chosenStart = new Date(cursor);\n    chosenEnd = new Date(cursor.getTime() + durationMs);\n    break;\n  }\n  if (slot.end > cursor) {\n    cursor = new Date(slot.end);\n  }\n}\n\nif (!chosenStart) {\n  if ((deadline.getTime() - cursor.getTime()) >= durationMs) {\n    chosenStart = new Date(cursor);\n    chosenEnd = new Date(cursor.getTime() + durationMs);\n  }\n}\n\nif (!chosenStart || !chosenEnd || chosenEnd > deadline) {\n  return [{\n    json: {\n      ...prior,\n      slot_found: false,\n      slot_reason: 'No free slot before deadline'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...prior,\n    slot_found: true,\n    proposed_start: chosenStart.toISOString(),\n    proposed_end: chosenEnd.toISOString()\n  }\n}];"
      },
      "id": "9e824de2-6282-4838-8847-3fbd66756748",
      "name": "Find Free Slot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4000,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "slot-found",
              "leftValue": "={{$json.slot_found ? 'yes' : ''}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8bfd3c04-23fd-42af-a537-5813f97f2922",
      "name": "Slot Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3744,
        -48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, scheduled: false, reason: $json.slot_reason || 'No free slot before deadline', selected_task: $json.selected_task } }}",
        "options": {}
      },
      "id": "7c5adb7c-450f-4388-a183-948e947c21f1",
      "name": "Respond No Slot",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3504,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const scheduling = $('Find Free Slot').item.json;\nconst event = $json;\n\nconst startText = scheduling.proposed_start;\nconst endText = scheduling.proposed_end;\n\nconst textLines = [\n  'Veloce scheduled your task successfully.',\n  `Task: ${scheduling.selected_task.task_name}`,\n  `When: ${startText} to ${endText}`,\n  event.htmlLink ? `Calendar: ${event.htmlLink}` : null\n].filter(Boolean);\n\nreturn [{\n  json: {\n    ...scheduling,\n    created_event: event,\n    telegram_message: textLines.join('\\n')\n  }\n}];"
      },
      "id": "83a33724-35dd-4a87-a9c1-37650bccec03",
      "name": "Build Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3232,
        -128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, scheduled: true, selected_task: $('Build Notification').item.json.selected_task, calendar_event_id: $('Build Notification').item.json.created_event.id, calendar_link: $('Build Notification').item.json.created_event.htmlLink } }}",
        "options": {}
      },
      "id": "1a536079-1ce7-40ec-b8e3-e0eabe5e6bc7",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2576,
        -64
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.agent_prompt}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -5360,
        64
      ],
      "id": "7ebf7bcb-9c57-420d-a1c9-e74a44a8ad4c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "glm-4.7",
          "mode": "list",
          "cachedResultName": "glm-4.7"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -5360,
        256
      ],
      "id": "37b02e7f-8702-496e-8fef-47221ceb3878",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lxYzB1slIHvizINC",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "hoezhiwan@graduate.utm.my",
          "mode": "id"
        },
        "start": "={{ { dateTime: $json.proposed_start, timeZone: $json.timezone } }}",
        "end": "={{ { dateTime: $json.proposed_end, timeZone: $json.timezone } }}",
        "additionalFields": {
          "description": "={'Auto-scheduled by Veloce from ' + $json.source + ($json.chat_title ? ' (' + $json.chat_title + ')' : '')}",
          "summary": "={'Task: ' + $json.selected_task.task_name}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -3504,
        -128
      ],
      "id": "5e6319bb-993d-4502-bf6f-76169de73bbc",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BOmbHQIdXDaBCtnF",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-chat-id",
              "leftValue": "={{$json.chat_id == null ? '' : String($json.chat_id)}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77333a89-2efc-4101-89ed-d06f8392ebab",
      "name": "Has Chat ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3008,
        -128
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "hoezhiwan@graduate.utm.my",
          "mode": "list",
          "cachedResultName": "hoezhiwan@graduate.utm.my"
        },
        "timeMin": "={{$json.calendar_time_min}}",
        "timeMax": "={{$json.calendar_time_max}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -4240,
        -48
      ],
      "id": "f2d3ad39-1685-4a14-a59a-fa96667f0c3f",
      "name": "Get availability in a calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BOmbHQIdXDaBCtnF",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "={{$json.telegram_message}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2768,
        -208
      ],
      "id": "bcf96518-c560-4530-a8ab-ba7243f9c680",
      "name": "Send a text message",
      "webhookId": "d4baf3a1-f73a-4921-a7ca-d51a1c836943",
      "credentials": {
        "telegramApi": {
          "id": "DpZ7Xwh6u2zG3Ofx",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Core Ingest": {
      "main": [
        [
          {
            "node": "Normalize Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Inbound": {
      "main": [
        [
          {
            "node": "Build GLM Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GLM Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse GLM Output": {
      "main": [
        [
          {
            "node": "Has Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Task?": {
      "main": [
        [
          {
            "node": "Prepare Calendar Window",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calendar Window": {
      "main": [
        [
          {
            "node": "Get availability in a calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Free Slot": {
      "main": [
        [
          {
            "node": "Slot Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slot Found?": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notification": {
      "main": [
        [
          {
            "node": "Has Chat ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Chat ID?": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse GLM Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Build Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar": {
      "main": [
        [
          {
            "node": "Find Free Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "628894d2-6d19-4437-8384-82413401199c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ebd57b2eeab9200200d898df18fac1bb202d5c18cacfbaf9a329d6574708de48"
  },
  "id": "8H05AdKCx8MO6ZM0",
  "tags": []
}